
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/card.css");
@import url("components/button.css");


h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px #484647;
  font-size: 48px;
  }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #532534;

}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  background-color: #F6F5F8;
}

a {
  text-decoration: none;
}

.align-text {
text-align: center;
padding: 0 30px;
}

.align-text h1, h2 {
  color: #532534;
}


.align-text li {
  text-align: justify;
}

.align-text p {
  text-align: justify;
}


.logo-general {
  height: 6em ;
}