.banner {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(90,90,90,0.4) 40%), url(../images/banner.jpg);
  background-size: cover;
  padding: 159px 0;
  background-position: center;
  text-align: center;
}


.banner p {
  color: white;
  font-weight: bolder;
  font-size: 32px;
  text-shadow: 1px 1px #484647;
  margin: 56px auto;

}
